<footer>
    <br/>
    <br/>
    <span>
        <div class="float-right">
        </div>
        <div class="float-left">
            <strong>Casting Off w/ Sails.js</strong> 2014
        </div>
        <div class="clearfix">
        </div>
    </span>
<footer>